.filter-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 5px solid rgb(17, 7, 7);
  background-image: linear-gradient(rgb(52 89 97), rgb(228, 218, 218));
  font-size: larger;
  font-weight: bold;
}

option:after {
  content: "⭐";
  height: 5px;
  width: 5px;
  background: #c00;
  border-radius: 5px;
  display: inline-block;
}
