body {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  text-align: center;
}

table {
  width: 95%;
  border-collapse: collapse;
  margin: auto;
}

thead th {
  text-align: left;
  border-bottom: 2px solid black;
  width: 110px;
  max-width: 110px !important;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}
thead button.ascending::after {
  content: "👇";
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: "☝️";
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  width: 110px;
  max-width: 110px !important;
}

tbody tr:hover {
  background-color: #eee;
  cursor: pointer;
}

body button#veiw-more-btn {
  background-color: lightblue;
  border-radius: 5px;
  border: 2px solid blue;
  margin: 3% 46%;
}

body button#veiw-more-btn:hover {
  background-color: white;
  color: blue;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid blue;
  cursor: pointer;
  font-size: 1em;
}
