div.header {
  padding: 8px;
  background-image: linear-gradient(rgb(97, 52, 56), rgb(228, 218, 218));
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

div.header p {
  text-decoration: none;
  color: Black !important;
}
